<h1>Welcome to About</h1>
<form>
	<input type="text" name="letter" ng-model="positionValue" ng-change="addPosition()">
</form>
{{newPosition}}
<div style="width : 50px; height : 50px; background-color :red;position:absolute;left:{{newPosition}}px;">
</div>

<button ng-click="triggerEvent()">Trigger</button>