<br>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a ui-sref="admin.dashboard">Dashboard</a></li>
              <li><a ui-sref="admin.user">User</a></li>
              <li><a ui-sref="admin.groupById">Songs</a></li>
              <li><a ui-sref="admin.stock">Stock</a></li>
              <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<ui-view></ui-view>