<div class="col-lg-6" >
<h1>Profile Form</h1>
	<form name="profileForm" ng-submit="postData()">
		<div class="row">
			<div class="col-lg-6 form-group">
				<label for="name">Name</label>
				<input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="2" ng-maxlength="8" required>
				<span style="color:red;" ng-show="profileForm.name.$dirty && profileForm.name.$invalid">Name length should not exeed 8 characters</span>
				
			</div>
			<div class="col-lg-6 form-group">
				<label for="age">Age</label>
				<input type="number" name="age" class="form-control" ng-model="user.age" ng-min="18" ng-max="60">
			
				
				<span style="color:red;" ng-show="profileForm.age.$dirty && profileForm.age.$error.min">Age should above 18</span>

				<span style="color:red;" ng-show="profileForm.age.$dirty && profileForm.age.$error.max">Age should below 60</span>
			</div>
		</div>
		<div class="form-group">
			<label for="email">E-Mail</label>
			<input type="email" name="email" class="form-control" ng-model="user.email" required>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" ng-model="user.password" ng-pattern="user.re_password" required>
		</div>

		<div class="form-group">
			<label for="re_password">ReType Password</label>
			<input type="password" name="re_password" class="form-control" ng-model="user.re_password" ng-pattern="user.password" required>
		<span style="color:red;" ng-show="profileForm.$error.pattern">Password does't match</span>
		</div>
		<div class="form-group">
			<label>Country</label>
			<select class="form-control" ng-model="user.country_id" 
			ng-options="country.id as country.name for country in countries">
			</select>
		</div>
		<input type="submit" class="btn btn-primary" value="{{submitValue}}" ng-disabled="profileForm.$invalid">
	</form>
	<br>
	

	<ul>
		<li ng-repeat="user in users">
			<button ng-click="editUser($index)">Edit</button> - 
			<button ng-click="removeData($index)">Delete</button>
		</li>
	</ul>
</div>
