<div class="col-lg-6" >
<h1>Profile Form</h1>
	<form name="profileForm" ng-submit="editUser()">
		<div class="row">
			<div class="col-lg-6 form-group">
				<label for="name">Name</label>
				<input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="2" ng-maxlength="8" required>
				<span style="color:red;" ng-show="profileForm.name.$dirty && profileForm.name.$invalid">Name length should not exeed 8 characters</span>
				
			</div>
		
		</div>
		<div class="form-group">
			<label for="email">E-Mail</label>
			<input type="email" name="email" class="form-control" ng-model="user.email" required>
		</div>

		

		
		<input type="submit" class="btn btn-primary" value="{{submitValue}}" ng-disabled="profileForm.$invalid">
	</form>
	<br>
	

	<ul>
		<li ng-repeat="user in users">
			<button ng-click="editUser($index)">Edit</button> - 
			<button ng-click="removeData($index)">Delete</button>
		</li>
	</ul>
</div>
