<h1>Albums</h1>

<table class="table table-striped">
<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Image</th>
		<th>Price</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="album in albums">
		<th>{{$index + 1}}</th>
		<td>{{album.album_name | myFilter}}</td>
		<td><img src="{{awsurl}}{{album.albums_cover_url}}" height="50" width="50"></td>
		<td><span style='font-family:Arial;'>&#8377; </span>{{album.album_price | indianCurrencyFilter}}</td>
		<td><button class="btn btn-sm btn-primary" ui-sref="admin.edit_user({id:user.id})">Edit</button> - <button class="btn btn-sm btn-primary" ng-click="deleteUser($index)">Delete</button></td>
	</tr>
</tbody>
</table>