<h1 class="text-center">Top Artist</h1>

<span ng-if="!artist">Loading..</span>
<!-- <ul ng-if="artist">
	<li ng-repeat="person in artist">{{person.artist_name}}
	<img src="{{awsurl}}{{person.artist_profile_picture_url}}">
	</li>

</ul> -->

<!-- <div class="container"> -->

	<div class="row" ng-if="artist">
        <div class="col-lg-3" ng-repeat="person in artist">
          <img class="img-circle" src="{{awsurl}}{{person.artist_profile_picture_url}}">
          <h2>{{person.artist_name}}</h2>
        </div>
      </div>
{{name | reverse}}
      <!-- <my-custom-directive info="userDetails"></my-custom-directive> -->
      <profile-photo-is-here size="mid"></profile-photo-is-here>

      <!-- </div> -->