<br>
<form ng-submit="login()">
	<div class="form-group">
		<label for="username">User Name</label>
		<input type="text" name="username" ng-model="user.username" class="form-control">
	</div>
	<div class="form-group">
		<label for="username">Password</label>
		<input type="password" name="password" ng-model="user.password" class="form-control">
	</div>
	<input type="submit" value="Submit" class="btn btn-primary">
</form>