<button class="btn btn-primary" ui-sref="admin.add_user">Add User</button>
<input type="text" name="search" ng-model="searchText">
<table class="table table-striped">
<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Email</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="user in users | orderBy : 'email' : true">
		<th>{{$index + 1}}</th>
		<td>{{user.name}}</td>
		<td>{{user.email}}</td>
		<td><button class="btn btn-sm btn-primary" ui-sref="admin.edit_user({id:user.id})">Edit</button> - <button class="btn btn-sm btn-primary" ng-click="deleteUser($index)">Delete</button></td>
	</tr>
</tbody>
</table>